* {
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ariany */
.main-content {
  /* margin-left: 250px; /* Adjust for sidebar width */
  display: flex;
  height: 100%;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column; /* Stack header and content vertically */
  min-height: 100vh; /* Make sure the container covers the full viewport height */
  height: 100vh;
}
