
/* Sidebar Container */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  padding-top: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Sidebar Links */
.sidebar a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

/* Hover effect for Sidebar Links */
.sidebar a:hover {
  background-color: #555;
}

/* Active Sidebar Link */
.sidebar a.active {
  background-color: #444;
}

/* Main Content Area */
.main-content {
  margin-left: 250px; /* Adjust for sidebar width */
  padding: 20px;
}

/* this is nav list*/

.nav-list {
  background: #e1ab789c;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 7px 40px;
  border-radius: 10px;
}

.nav-list a {
  text-decoration: none;
  color: white;
  font-size: 28px;
  font-weight: bold;
}
