/*======================
    404 page
=======================*/

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}
/* image size */
.page_404 img {
  width: 70%;
  margin-left: 200px;
}

/* distance between nav */
.four_zero_four_bg {
  height: 50px;
  background-position: center;
}

/* message */
.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #69b45e;
  margin: 20px 0;
  display: inline-block;
}
/* botao */
.contant_box_404 {
  margin-top: -50px;
  font: bold;
}
